cogs/__pycache__/bedwars.cpython-39.pyc
cogs/__pycache__/bedwarscommands.cpython-39.pyc
cogs/__pycache__/duels.cpython-39.pyc
cogs/__pycache__/example.cpython-39.pyc
cogs/__pycache__/hypixel.cpython-39.pyc
cogs/__pycache__/hypixeltemplates.cpython-39.pyc
cogs/__pycache__/misc.cpython-39.pyc
cogs/__pycache__/skywars.cpython-39.pyc
cogs/__pycache__/skywarscommands.cpython-39.pyc
XCStatsbot.7z
cmd.bat
.idea/inspectionProfiles/profiles_settings.xml
.idea/.gitignore
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/XCStatsbot.iml
__pycache__/bot.cpython-39.pyc
__pycache__/emojifunctionality.cpython-39.pyc
__pycache__/minecraftfunctionality.cpython-39.pyc
*.log
.idea
.idea/*
__pycache__/*
__pycache__
cogs/__pycache__/*